apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: gateway-app
  namespace: default
  labels:
    team: default
spec:
  selector:
    matchLabels:
      app: gateway
  endpoints:
    - targetPort: 8080
      path: /management/prometheus
